/x64
Release
Debug
*.vcxproj.user
*.aps
/artifact
*.VC.db
.suo
ipch
/*.opendb
/Library/*.bak
/BizTelework/*.bak
.vs
/*.xml
/.scannerwork
/build_wrapper_output_directory
/sonar_cfamily_cache
/tmp_installer_check
