/Client/WorksMonitoring/Debug
/Client/WorksMonitoring/MainLibrary/Debug
/Client/WorksMonitoring/*.db
/Client/WorksMonitoring/WorksMonitoring/Debug
/Client/WorksMonitoring/ipch/WORKSMONITORING-6ad9d37d/*.ipch
/Client/WorksMonitoring/ipch/MAINLIBRARY-b822e1f9/*.ipch
/Client/WorksMonitoring/.vs/WorksMonitoring/v16/*.db
/Client/WorksMonitoring/WMService/Debug
/Client/WorksMonitoring/*.opendb
/Client/WorksMonitoring/ipch/WMSERVICE-4862ca43/*.ipch
/Client/WorksMonitoring/WMHook/Debug/*.log
/Client/WorksMonitoring/WMHook/Debug/*.obj
/Client/WorksMonitoring/WMHook/Debug
/Client/WorksMonitoring/ipch/MAINLIBRARY-dcb8f64d/*.ipch
/Client/WorksMonitoring/ipch/WMHOOK-c35073a3/*.ipch
/Client/WorksMonitoring/.vs
/Client/WorksMonitoring/MainLibrary/x64/Debug
/Client/WorksMonitoring/WMHook/x64/Debug
/Client/WorksMonitoring/ipch/MAINLIBRARY-ec6bf97c
/Client/WorksMonitoring/ipch/WMHOOK-9419e012/*.ipch
/Client/WorksMonitoring/x64/Debug
/Client/WorksMonitoring/WMService/x64/Debug/*.log
/Client/WorksMonitoring/WMService/x64/Debug/*.obj
/Client/WorksMonitoring/WMService/x64/Debug
/Client/WorksMonitoring/WorksMonitoring/x64/Debug
/Client/WorksMonitoring/ipch/WMSERVICE-be0d8df2/*.ipch
/Client/WorksMonitoring/ipch/WORKSMONITORING-a1f7be00/*.ipch
/Client/WorksMonitoring/CodeTestCPP/Debug
/Client/WorksMonitoring/ipch/CODETESTCPP-d8a6d644/*.ipch
/Client/WorksMonitoring/CodeTestCPP/x64/Debug
/Client/WorksMonitoring/WMClient/Debug
/Client/WorksMonitoring/WMClient/x64/Debug
/Client/WorksMonitoring/ipch/WMAPPLICATION-a22a6078/*.ipch
/Client/WorksMonitoring/ipch/WMCLIENT-5ddd476e/*.ipch
/Client/WorksMonitoring/ipch/WMCLIENT-a6653b7f/*.ipch
/Client/.vs/WorksMonitoring/v17
/Client/CodeTestCPP/Debug
/Client/Debug
/Client/MainLibrary/Debug
/Client/MainLibrary/x64/Debug
/Client/WMClient/Debug
/Client/WMClient/x64/Debug
/Client/WMHook/Debug
/Client/WMHook/x64/Debug
/Client/WMService/Debug
/Client/WMService/x64/Debug
/Client/x64/Debug
/Client/CodeTestCPP/*.user
