<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?include common.wxi ?>
    <?include customize\$(var.Customize).wxi ?>
    <Product Id="*" Name="$(var.Customize.ProductName)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Customize.Manufacturer)" UpgradeCode="$(var.Customize.UpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <WixVariable Id="WixUICostingPopupOptOut" Value="1" Overridable="yes" />
        <!-- Installer's icon in Add/Remove Programs -->
        <Icon Id="app.ico" SourceFile="$(var.Source.App.ico)"/>
        <Property Id="ARPPRODUCTICON" Value="app.ico" />
        <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable"/>
        <Property Id="AGENTINFO" Value="$(var.Registry.BaseKey)\AgentInfo" />
        <Property Id="COMPANYGUID">
            <RegistrySearch Id='CompanyGuid' Root='HKLM' Key='$(var.Registry.BaseKey)\AgentInfo' Name='CompanyGuid' Type='raw'></RegistrySearch>
        </Property>
        <Property Id="AGENTGUID">
            <RegistrySearch Id='AgentGuid' Root='HKLM' Key='$(var.Registry.BaseKey)\AgentInfo' Name='AgentGuid' Type='raw'></RegistrySearch>
        </Property>

        <!--
        This custom action for moving the window of BizTelework.exe to the foreground.
        This action expects that BizTelework.exe will set already existing window to foreground and quit itself process.
        -->
        <CustomAction Id="MoveWindowToForeground" FileKey="$(var.Execute.File.BizTelework)" ExeCommand="" Return="asyncNoWait" Impersonate="yes" />

        <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.Alert.DowngradeErrorMessage)" AllowSameVersionUpgrades="yes" />
        <MediaTemplate EmbedCab="yes" />
        <util:CloseApplication Id="CloseApp" Target="$(var.Execute.File.BizTelework)" RebootPrompt="no" TerminateProcess="1">REMOVE="ALL"</util:CloseApplication>
        <Feature Id="ProductFeature" Title="BizTeleworkMsi" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
        <CustomAction Id="SetArpInstallLocation" Property="ARPINSTALLLOCATION" Value="[InstallDir]" />
        <InstallExecuteSequence>
            <Custom Action="SetArpInstallLocation" After="CostFinalize" />
        </InstallExecuteSequence>
        <InstallExecuteSequence />
        <InstallUISequence>
            <Show Dialog="MyWelcomeEulaDlg" Before="ProgressDlg">$(var.Condition.WelcomeEulaDlg)</Show>
            <Show Dialog="ProgressDlg" Before="ExecuteAction">$(var.Condition.WelcomeEulaDlg)</Show>
            <Show Dialog="FinishExitDlg" Sequence="10000">$(var.Condition.WelcomeEulaDlg) OR $(var.Condition.Update) OR $(var.Condition.MaintenanceDlg)</Show>
            <Show Dialog="UserExitDlg" OnExit="cancel">null</Show>
            <Show Dialog="ExitDlg" OnExit="success">null</Show>
        </InstallUISequence>
        <AdminUISequence>
            <Show Dialog="UserExitDlg" OnExit="cancel">null</Show>
            <Show Dialog="ExitDlg" OnExit="success">null</Show>
        </AdminUISequence>
        <AdminExecuteSequence>
            <InstallValidate>0</InstallValidate>
        </AdminExecuteSequence>
        <AdvertiseExecuteSequence>
            <InstallValidate>0</InstallValidate>
        </AdvertiseExecuteSequence>
        <UIRef Id="UI" />
        <UI />
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="BizTelework">
                <Directory Id="OptimalBizTelework" Name="$(var.Identity.OptimalBizTelework)" />
            </Directory>
            <!-- Define the startup directory -->
            <Directory Id="StartupFolder" />
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="OptimalBizTelework">
            <Component Id="ProductComponent" Guid="8a7337f1-5fde-4eed-8365-439fc56cc130">
                <File Source="$(var.BizTelework.TargetDir)\$(var.BizTelework.TargetFileName)">
                    <!-- Define shortcut -->
                    <Shortcut Id="BizTeleworkShortcut" Directory="StartupFolder" Name="BizTelework" WorkingDirectory="INSTALLFOLDER" />
                </File>
                <!-- Define RegistryValue -->
                <RegistryValue Root="HKCU" Key="Software\$(var.Identity.Company)\$(var.Identity.Module)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
            <Component Id="Registry.BizTeleworkUriScheme" Guid="a7352ef8-1e60-48ab-8462-feaf971e58a5" KeyPath="yes">
                <RegistryKey Root="HKCR" Key="biz-telework" ForceDeleteOnUninstall="yes">
                    <RegistryValue Type="string" Value="URL:biz-telework"/>
                    <RegistryValue Type="string" Name="URL Protocol" Value=""/>
                    <RegistryKey Key="DefaultIcon" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Value="$(var.Execute.File.BizTelework),1" />
                    </RegistryKey>
                    <RegistryKey Key="shell\open\command" ForceDeleteOnUninstall="yes">
                        <RegistryValue Type="string" Value="[OptimalBizTelework]$(var.Execute.File.BizTelework) %1"/>
                    </RegistryKey>
                </RegistryKey>
            </Component>
            <Component Id="Registry.AgentInfo" Guid="a7352ef8-1e60-48ab-8462-feaf971e95a5" KeyPath="yes" Permanent="yes">
                <RegistryKey Root="HKLM" Key="$(var.Registry.BaseKey)\AgentInfo" ForceCreateOnInstall="yes" >
                    <util:PermissionEx User="$(var.SID.AuthenticatedUser)" GenericAll="yes" />
                    <RegistryValue Name="CompanyGuid" Value="[COMPANYGUID]" Type="string"></RegistryValue>
                    <RegistryValue Name="AgentGuid" Value="[AGENTGUID]" Type="string"></RegistryValue>
                </RegistryKey>
            </Component>
            <Component Id="Registry.ApiUrl" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="ApiUrl" Type="string" Value="$(var.Customize.ApiUrl)" KeyPath="yes" >
                    <util:PermissionEx User="$(var.SID.AuthenticatedUser)" GenericAll="yes" />
                </RegistryValue>
            </Component>
            <Component Id="Registry.DataDir" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="DataDir" Type="string" Value="$(var.Customize.DataDir)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.SentryDSN" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="SentryDSN" Type="string" Value="$(var.Customize.SentryDSN)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.ReleaseEnvironment" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="ReleaseEnvironment" Type="string" Value="$(var.Customize.ReleaseEnvironment)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.UpdateUrl" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="UpdateUrl" Type="string" Value="$(var.Customize.UpdateUrl)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.UpgradeCode" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="UpgradeCode" Type="string" Value="$(var.Customize.UpgradeCode)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.Customize.BizTeleworkUpdaterRPCEndpoint" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="BizTeleworkUpdaterRPCEndpoint" Type="string" Value="$(var.Customize.BizTeleworkUpdaterRPCEndpoint)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.Customize.TimerIntervalToRemidOnDutyDialog" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="TimerIntervalToRemidOnDutyDialog" Type="integer" Value="$(var.Customize.TimerIntervalToRemidOnDutyDialog)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.Customize.TimeToShowOnDutyDialog" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="TimeToShowOnDutyDialog" Type="integer" Value="$(var.Customize.TimeToShowOnDutyDialog)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.Customize.TimeToShowHealthStatusDialog" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="TimeToShowHealthStatusDialog" Type="integer" Value="$(var.Customize.TimeToShowHealthStatusDialog)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.Version" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="Version" Type="string" Value="$(var.Version)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.TimerIntervalGetActiveApplication" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="TimerIntervalGetActiveApplication" Type="integer" Value="$(var.Customize.TimerIntervalGetActiveApplication)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.TimerIntervalCheckAuthen" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="TimerIntervalCheckAuthen" Type="integer" Value="$(var.Customize.TimerIntervalCheckAuthen)" KeyPath="yes" />
            </Component>
            <Component Id="Registry.ExecutedBizTelework" Guid="*">
                <RegistryValue Root="HKLM" Key="$(var.Registry.BaseKey)" Name="ExecutedBizTelework" Type="integer" Value="$(var.ExecutedBizTelework)" KeyPath="yes" />
            </Component>
            <Component Id="BizTeleworkUpdater">
                <File Name="$(var.Execute.File.BizTeleworkUpdater)" Source="$(var.BizTelework.TargetDir)\$(var.Execute.File.BizTeleworkUpdater)" KeyPath="yes" Vital="yes" />
                <ServiceInstall Id="BizTeleworkUpdaterInstaller"
                                Name="$(var.Service.BizTeleworkUpdater.Name)"
                                DisplayName="$(var.Service.BizTeleworkUpdater.DisplayName)"
                                Description="$(var.Service.BizTeleworkUpdater.Description)"
                                ErrorControl="ignore"
                                Start="auto"
                                Type="ownProcess">
                    <ServiceDependency Id="RPCSS"/>
                    <util:ServiceConfig FirstFailureActionType="restart"
                                        SecondFailureActionType="restart"
                                        ThirdFailureActionType="restart" />
                    <util:PermissionEx User="$(var.SID.LocalSystem)" GenericAll="yes" />
                    <util:PermissionEx User="$(var.SID.Administrators)"
                                       ServiceStart="yes" ServiceStop="yes" ServiceQueryStatus="yes"
                                       ServiceQueryConfig="yes" ServiceEnumerateDependents="yes" />
                    <util:PermissionEx User="$(var.SID.AuthenticatedUser)"
                                       ServiceStop="yes" ServiceQueryStatus="yes" />
                </ServiceInstall>
                <ServiceControl Id="StartService" Start="install" Stop="both" Remove="both" Name="$(var.Service.BizTeleworkUpdater.Name)" Wait="yes" />
            </Component>
            <Component Id="BizTeleworkHookDll">
                <File Name="BizTeleworkHook.dll" Source="$(var.BizTelework.TargetDir)\BizTeleworkHook.dll" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="LanguageEn">
                <File Name="$(var.File.LanguageEn)" Source="$(var.BizTelework.TargetDir)\$(var.File.LanguageEn)" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="LanguageJa">
                <File Name="$(var.File.LanguageJa)" Source="$(var.BizTelework.TargetDir)\$(var.File.LanguageJa)" KeyPath="yes" Vital="yes" />
            </Component>
            <Component Id="CrashpadHandler">
                <File Name="$(var.Execute.File.CrashpadHandler)" Source="$(var.BizTelework.TargetDir)\$(var.Execute.File.CrashpadHandler)" KeyPath="yes" Vital="yes" />
            </Component>

            <!-- We need remove wadding.txt on https://biztelework.atlassian.net/browse/BTC-771 -->

            <!-- We need this file for image of toast notification https://biztelework.atlassian.net/browse/BTC-828 -->
            <Component Id="Icon">
                <File Name="$(var.File.Icon)" Source="$(var.Source.App.ico)" KeyPath="yes" Vital="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
