<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include common.wxi ?>
    <Fragment>
        <UI Id="UI">
            <UIRef Id="WixUI_ErrorProgressText" />
            <Dialog Id="MyWelcomeEulaDlg" Width="370" Height="270" Title="!(loc.UI.Dlg.Title)">
                <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeEulaDlgBitmap)" />
                <Control Id="Title" Hidden="yes" Type="Text" Transparent="yes" NoPrefix="yes" Text="!(loc.UI.WelcomeDlg.FirstTitle)" X="130" Y="6" Width="225" Height="30">
                    <Condition Action="show">NOT IS_CONFLICT = 1 AND ( $(var.Condition.FirstInstall) OR $(var.Condition.Update) OR $(var.Condition.Upgrading) )</Condition>
                </Control>
                <Control Id="LicenseText" Hidden="yes" Type="ScrollableText" Sunken="yes" TabSkip="no" X="130" Y="36" Width="226" Height="162">
                    <Text SourceFile="$(var.Source.License.rtf)" />
                    <Condition Action="show">$(var.Condition.FirstInstall)</Condition>
                </Control>
                <Control Id="LicenseAcceptedCheckBox" Hidden="yes" Type="CheckBox" CheckBoxValue="1" Property="LicenseAccepted" Text="!(loc.UI.WelcomeDlg.LicenseAcceptedCheckBox)" X="130" Y="207" Width="226" Height="18">
                    <Condition Action="show">$(var.Condition.FirstInstall)</Condition>
                </Control>
                <Control Id="Print" Hidden="yes" Type="PushButton" Text="!(loc.UI.Print)" X="!(loc.UI.Print.X)" Y="!(loc.UI.Print.Y)" Width="!(loc.UI.Print.Width)" Height="!(loc.UI.Print.Height)">
                    <Publish Event="DoAction" Value="WixUIPrintEula">1</Publish>
                    <Condition Action="show">$(var.Condition.FirstInstall)</Condition>
                </Control>
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Info" Type="PushButton" Text="!(loc.UI.Info)" X="!(loc.UI.Info.X)" Y="!(loc.UI.Info.Y)" Width="!(loc.UI.Info.Width)" Height="!(loc.UI.Info.Height)">
                    <Publish Event="SpawnDialog" Value="ProductInfoDlg">1</Publish>
                </Control>
                <Control Id="Install" Hidden="yes" Type="PushButton" ElevationShield="yes" Default="yes" X="212" Y="243" Width="80" Height="17">
                    <Text>!(loc.WelcomeEulaDlgInstall)</Text>
                    <Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">CostingComplete = 1</Publish>
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                    <Condition Action="show">NOT IS_CONFLICT = 1 AND ( $(var.Condition.FirstInstall) OR $(var.Condition.Update) OR $(var.Condition.Upgrading) OR $(var.Condition.Crossgrading) )</Condition>
                    <Condition Action="disable">NOT $(var.Condition.LicenseAccepted)</Condition>
                    <Condition Action="enable">$(var.Condition.LicenseAccepted)</Condition>
                </Control>
                <Control Id="Cancel" Type="PushButton" Cancel="yes" Text="!(loc.WixUICancel)" X="!(loc.UI.Cancel.X)" Y="!(loc.UI.Cancel.Y)" Width="!(loc.UI.Cancel.Width)" Height="!(loc.UI.Cancel.Height)">
                    <Publish Event="SpawnDialog" Value="CancelExDlg">1</Publish>
                </Control>
            </Dialog>
            <!-- UserExit dialog -->
            <Dialog Id="UserExitDlg" Width="370" Height="270" Title="!(loc.UI.Dlg.Title)">
                <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)">
                    <Publish Event="EndDialog" Value="Exit">1</Publish>
                </Control>
            </Dialog>
            <!-- Exit dialog -->
            <Dialog Id="ExitDlg" Width="370" Height="270" Title="!(loc.UI.Dlg.Title)">
                <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)">
                    <Publish Event="EndDialog" Value="Exit">1</Publish>
                </Control>
            </Dialog>
            <!-- Cancel dialog -->
            <Dialog Id="CancelExDlg" X="50" Y="50" Width="260" Height="85" Title="!(loc.UI.Dlg.Title)">
                <Control Id="No" Type="PushButton" X="132" Y="57" Width="56" Height="17" Text="いいえ(&amp;N)" TabSkip="no" Default="yes" Cancel="yes">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Yes" Type="PushButton" X="72" Y="57" Width="56" Height="17" Text="はい(&amp;Y)" TabSkip="no">
                    <Publish Event="EndDialog" Value="Exit">1</Publish>
                </Control>
                <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30" Text="[ProductName] のセットアップをキャンセルしますか?" TabSkip="yes" NoPrefix="yes" />
                <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" Text="Info.ico" ToolTip="情報アイコン" TabSkip="yes" Disabled="yes" IconSize="32" FixedSize="yes" />
            </Dialog>
            <!-- FinishExit dialog -->
            <Dialog Id="FinishExitDlg" Width="370" Height="270" Title="!(loc.UI.Dlg.Title)" >
                <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeEulaDlgBitmap)" />
                <Control Id="Title" Hidden="yes" Type="Text" Transparent="yes" NoPrefix="yes" Text="!(loc.UI.FinishDlg.FirstTitle)" X="137" Y="20" Width="225" Height="30">
                    <Condition Action="show">$(var.Condition.FirstInstall)</Condition>
                </Control>
                <Control Id="Description" Hidden="yes" Type="Text" Transparent="yes" NoPrefix="yes" Text="!(loc.UI.FinishDlg.Description)" X="137" Y="45" Width="220" Height="60">
                    <Condition Action="show">$(var.Condition.FirstInstall)</Condition>
                </Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
                <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                    <Publish Event="DoAction" Value="MoveWindowToForeground">NOT Installed</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" Cancel="yes" Text="!(loc.WixUICancel)" Disabled="yes" X="!(loc.UI.Cancel.X)" Y="!(loc.UI.Cancel.Y)" Width="!(loc.UI.Cancel.Width)" Height="!(loc.UI.Cancel.Height)">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
            </Dialog>
            <!-- UI画像 -->
            <Binary Id="WixUI_Bmp_Banner" SourceFile="$(var.Source.UI.Banner.bmp)" />
            <Binary Id="WixUI_Bmp_Dialog" SourceFile="$(var.Source.UI.Dialog.bmp)" />
            <Binary Id="Exclamation.ico" SourceFile="$(var.Source.UI.Exclamation.ico)" />
            <Binary Id="Info.ico" SourceFile="$(var.Source.UI.Info.ico)" />
            <Binary Id="Error.ico" SourceFile="$(var.Source.UI.Error.ico)" />
            <!-- エラーコード (Id: 29000-30000) -->
            <!-- ダイアログ -->
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
            <TextStyle Id="WixUI_Font_Title_Finish_Dialog" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Normal_Finish_Dialog" FaceName="Tahoma" Size="9" />
            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="ProgressDlg" />
            <!-- Information dialog -->
            <Dialog Id="ProductInfoDlg" Width="230" Height="250" NoMinimize="yes" Title="!(loc.UI.Dlg.Title)">
                <Control Id="Title" Type="Text" NoPrefix="yes" X="10" Y="11" Width="210" Height="10" Text="!(loc.UI.OSSLicense.Title)" />
                <Control Id="Text" Hidden="yes" Type="ScrollableText" Sunken="yes" TabSkip="no" X="10" Y="30" Width="210" Height="190">
                    <Text SourceFile="$(var.Source.OSSLicense.rtf)" />
                    <Condition Action="show">$(var.Condition.FirstInstall)</Condition>
                </Control>
                <Control Id="Ok" Type="PushButton" Default="yes" Cancel="yes" X="87" Y="222" Width="56" Height="17" Text="!(loc.WixUIOK)">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>